<div class="form-group">

<div class="form-group">
  <%= f.label :email, "Email", class: 'col-sm-2 control-label' %>
    <div class="col-sm-3">
      <%= f.input_field :email, as: :string, :required => false, class: "form-control" %>
    </div>
    <div class="col-sm-7">
    </div>
</div>

  <%= f.label :password, "Пароль", class: 'col-sm-2 control-label' %>
    <div class="col-sm-3">
      <%= f.input_field :password, as: :string, :required => false, class: "form-control" %>
    </div>
    <div class="col-sm-7">
    </div>
</div>