<div class="form-group">
  <%= f.label :description, (t :deck_description), class: 'col-sm-2 control-label' %>
    <div class="col-sm-3">
      <%= f.input_field :description, as: :string, :required => false, class: "form-control" %>
    </div>
    <div class="col-sm-7">
    </div>
</div>

